body{
    overflow-x: hidden;
}

.wave img{
    width: 100%;
    position: absolute;
    height: 100px;
    z-index: 0 !important;
    margin-top: -50px;
}

/* nav */
.navbar.navbar-expand-lg{
    padding: 19px 0;
    box-shadow: 0 4px 4px #c4c4c4;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.55);
    position: relative;
    width: 100%;
    z-index: 999 !important;
    transition: 0.5s;
}

.navbar-nav{
    column-gap: 40px;
}

.navbar-nav .nav-link{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.curve-line img{
    position: absolute;
    top: -80px;
    right: 0;
    z-index: -1 !important;
}

.modal .modal-header{
    padding: 15px 25px;
}

.modal .modal-title{
    font-family: "Lato", sans-serif;
}

.modal .modal-body{
    padding: 25px !important;
}

.modal .modal-body p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-align: justify;
    word-spacing: 2px;
    font-weight: 500;
    opacity: 0.8;
}

.container .breadcrumb{
    margin-top: -10px;
}

.container .breadcrumb li{
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.container .breadcrumb .breadcrumb-item a{
    color: black !important;
}

.book .container{
    padding: 35px 0 0 0;
}

.book .d-flex{
    justify-content: space-between;
}

.book .d-flex .left{
    width: 45%;
}

.book .d-flex .left h4{
    font-family: "Open Sans", sans-serif;
}

.book .d-flex .left h2{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.book .d-flex .left p{
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    font-size: 15px;
    opacity: 0.8;
}

.book .d-flex .right{
    width: 45%;
    display: flex;
    gap: 20px;
    margin: 40px 0 0 0;
}

.book .d-flex .right img{
    width: 50%;
    height: fit-content;
    object-fit: contain;
    border: 1px solid rgb(194, 194, 194);
}


@media  screen and (max-width: 1200px){
    .book .d-flex .right img{
        width: 47%;
        height: fit-content;
        object-fit: contain;
        border: 1px solid rgb(194, 194, 194);
    }
}

@media  screen and (max-width: 991px) {
    .book .d-flex{
        flex-direction: column-reverse;
        gap: 40px;
        align-items: center;
    }

    .book .d-flex .right{
        width: 80%;
        display: flex;
        gap: 20px;
        margin: 40px 0 0 0;
    }

    .book .d-flex .left{
        width: 100%;
    }
}

@media  screen and (max-width: 768px) {

    .curve-line img{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -100px;
        width: 50%;
        z-index: -1 !important;
    }

    .book .container{
        padding: 15px 0 0 0;
    }

    .book{
        padding: 20px;
    }

    
}

@media screen and (max-width: 576px) {

    .curve-line img{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -40px;
        width: 50%;
        z-index: -1 !important;
    }

    .book .d-flex .right{
        width: 100%;
        display: flex;
        gap: 20px;
        margin: 40px 0 0 0;
    }

}