.navbar.navbar-expand-lg{
    padding: 15px 0;
    box-shadow: 0 4px 4px #c4c4c4;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    z-index: 999 !important;
    transition: 0.5s;
}

.navbar-nav{
    column-gap: 40px;
}

.navbar-nav .nav-link{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

}

.nav-item.dropdown button{
    font-size: 18px;
}

.main .opening{
    background-image: url("../image/kelas-menulis/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main .opening .elemen-opening img{
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    z-index: 0;
}

.main .opening .container{
    display: flex;
    height: 100%;
    align-items: center;
}

.main .opening .container .card{
    padding: 60px 35px;
    display: flex;
    gap: 70px;
    flex-direction: column;
    border-radius: 25px;
    width: 450px;
    position: relative;
    margin: 90px 0 0 0;
    z-index: 2;
}

.main .opening .container .card::after{
    content: "";
    position: absolute;
    background-color: #FD9425;
    width: 170px;
    height: 15px;
    top: -30px;
    left: -80px;
}

.main .opening .container .card .text-first img{
    width: 95px;
    height: 30px;
}

.main .opening .container .card .text-first p{
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.main .opening .container .card .text-second h1{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 26px;
}

.main .opening .container .card .text-second p{
    font-family: "Open Sans", sans-serif;
    color: #008DAD;
    text-transform: uppercase;
    font-weight: 600;
}

.main .opening .container .card .text-bottom p{
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
}

.main .why{
    height: 100vh;
    position: relative;
}

.main .why::after{
    content: "";
    position: absolute;
    width: 130px;
    height: 80px;
    right: 100px;
    bottom: 0;
    background-color: #FD9425;
    border-radius: 20px;
}

.main .why .element-wave img{
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 0;
    z-index: -1;
}

.main .why .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.main .why .container .title h2{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
}

.main .why .container .title h2 span{
    color: #008DAD;
    position: relative;
}

.main .why .container .title h2 span::after{
    content: "";
    position: absolute;
    width: 90%;
    height: 7px;
    background-color: #FD9425;
    left: 0;
    bottom: -13px;
}

.main .why .container .content{
    display: flex;
    gap: 30px 100px;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
}

.main .why .container .content .card{
    width: calc(50% - 50px);
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    border: none;
    background-color: transparent;
}

.main .why .container .content .card img{
    width: 90px;
    height: 90px;
    padding: 15px;
    border-radius: 20px;
    object-fit: contain;
    background-color: #008DAD;
}

.main .why .container .content .card p{
    width: calc(80% - 30px);
    font-family: "Open Sans", sans-serif;
    margin: 0;
    font-weight: 500;
}

.main .why .container .content .card p span{
    font-weight: 700;
}

.main .target{
    position: relative;
    height: 100vh;
}

.main .target .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

.main .target .container .title h2{
    font-size: 28px;
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.main .target .container .title h2::after{
    content: "";
    position: absolute;
    width: 60%;
    height: 8px;
    background-color: #FD9425;
    left: 0;
    bottom: -30px;
}

.main .target .container .title h2 span{
    color: #008DAD;
}

.main .target .container .title p{
    width: 30%;
    font-size: 15px;
    margin: 50px 0 0 0;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
}

.main .target .container .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.main .target .container .content .card{
    border: none;
    text-align: center;
    width: 20%;
    background-color: transparent;
}

.main .target .container .content .card h5{
    background-color: #FD9425;
    color: #ffffff;
    padding: 15px 0;
    border-radius: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.main .target .container .content .card p{
    background-color: #008DAD;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 50px 15px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
}

.main .target .element-wave img{
    position: absolute;
    right: 0;
    bottom: -30px;
    width: 250px;
    height: 250px;
    z-index: -1;
}

.main .offer-program{
    height: 100vh;
    display: flex;
    box-shadow: -1px -1px 3px 0 #777777;
    z-index: 1;
}

.main .offer-program .bg-left{
    width: 30%;
}

.main .offer-program .bg-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .offer-program .content{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 35px;
    padding: 20px 0 0 0;
    background-color: #ffffff;
}

.main .offer-program .content .title h2{
    font-family: "Lato", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 28px;
}

.main .offer-program .content .title h2 span{
    color: #008DAD;
}

.main .offer-program .content .price{
    background-color: #008DAD;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 40px;
    border-radius: 10px;
}

.main .offer-program .content .price p{
    color: #ffffff;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.main .offer-program .content .price p span{
    font-size: 30px;
    font-weight: 700;
}

.main .offer-program .content .desc{
    width: 80%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

.main .offer-program .content .desc p{
    font-size: 14px;
}

.main .offer-program .content .desc p span{
    font-weight: 700;
}

.main .offer-program .content .line-horizontal{
    width: 35%;
    height: 10px;
    background-color: #FD9425;
    margin: 70px auto 0 auto;
}

.main .offer-program .bg-right{
    width: 30%;
}

.main .offer-program .bg-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main .choose-program{
    height: 100vh;
    background-image: url('../image/kelas-menulis/bg7.png');
    background-size: cover;
}

.main .choose-program .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 50px;
}

.main .choose-program .container .title h2{
    background-color: #ffffff;
    font-family: "Lato", sans-serif;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
}

.main .choose-program .container .title h2 span{
    color: #008DAD;
}

.main .choose-program .container .content{
    display: flex;
    justify-content: center;
    gap: 80px;
}

.main .choose-program .container .content .card{
    width: 25%;
    background-color: transparent;
    border: none;
}

.main .choose-program .container .content .card h4{
    font-family: "Lato", sans-serif;
    background-color: black;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
}

.main .choose-program .container .content .card .list{
    font-family: "Open Sans", sans-serif;
    background-color: #008DAD;
    color: #ffffff;
    padding: 40px 10px 40px 5px;
    font-size: 13px;
    border-radius: 10px;
    height: 250px;
}

.main .choose-program .container .content .card .list span{
    font-weight: 600;
}

.main .choose-program .container .content .card .desc{
    font-family: "Open Sans", sans-serif;
    background-color: #008DAD;
    color: #ffffff;
    padding: 40px 23px;
    font-size: 13px;
    border-radius: 10px;
    height: 250px;
}

.main .choose-program .container .button-order{
    text-align: center;
    margin: -20px 0 0 0;
}

.main .choose-program .container .button-order a{
    background-color: #ffffff;
    border: 2px solid #FD9425;
    color: #008DAD;
    padding: 12px 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.main .choose-program .container .button-order a:hover{
    background-color: #FD9425;
    color: #ffffff;
}

.main .benefit-program{
    height: 100vh;
    display: flex;
    position: relative;
}

.main .benefit-program::after{
    content: "";
    position: absolute;
    width: 130px;
    height: 80px;
    border-radius: 20px;
    background-color: #008DAD;
    right: 20px;
    bottom: 20px;
}

.main .benefit-program .bg-left{
    width: 40%;
}

.main .benefit-program .bg-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main .benefit-program .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    width: 60%;
    padding: 30px 80px;
}

.main .benefit-program .content .title h2{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    position: relative;
    display: inline-block;
}

.main .benefit-program .content .title h2::before{
    content: "";
    position: absolute;
    width: 40%;
    height: 8px;
    background-color: #FD9425;
    bottom: -30px;
}

.main .benefit-program .content .title h2 span{
    color: #008DAD;
}

.main .benefit-program .content .card-content ul li{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 15px 0;
    font-weight: 500;
}

.main .benefit-program .content .card-content ul li span{
    font-weight: 800;
}

footer{
    background-image: url('../image/kelas-menulis/bg9.png');
    height: auto;
    width: 100%;
    /* margin-top: 120px; */
    margin-bottom: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90% 90%;
    padding: 50px 0 0 0;
    color: rgb(0, 0, 0);
    box-shadow: -1px -1px 3px 0 #777777;
}

footer .row h2{
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 15px 0;
    font-family: "Lato", sans-serif;
    position: relative;
    display: inline-block;
}

footer .row h2 span{
    color: #008DAD;
}

footer .row h2::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 6px;
    background-color: #FD9425;
    bottom: -15px;
}

footer .row p{
    font-size: 16px;
    font-weight: 300;
    opacity: 0.85;
    width: 80%;
    font-family: "Open Sans", sans-serif;
}

footer .row h3{
    font-size: 24px;
    font-weight: 600;
    margin: 7px 0 15px 0;
    font-family: "Lato", sans-serif;
}
footer .row ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    margin: 20px 0 0 0;
}

footer .row ul li{
    opacity: 1;
    font-size: 13px;
    font-weight: 400;
    padding: 5px;
}

footer .row .link-contact a{
    transition: 0.3s;
}

footer .row .link-contact a:hover{
    margin: 0 0 0 10px;
    text-decoration: dashed !important;
}

footer .row p{
    font-size: 20px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-align: end;
    height: 100%;
    margin: 0 0 auto 0;
}

footer hr{
    margin-top: 40px;
}

footer .bottom p{
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.6;
    padding-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

.pilihan-kelas-menulis{
    height: 100vh;
    padding: 100px 0 0 0;
    position: relative;
}

.pilihan-kelas-menulis::after{
    content: "";
    position: absolute;
    background-image: url('../image/Elemen\ 11.png');
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    bottom: -140px;
    width: 200px;
    height: 200px;
    z-index: -1;
}

.pilihan-kelas-menulis .content .title h2{
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.pilihan-kelas-menulis .content .title h2 span{
    color: #008DAD;
}

.pilihan-kelas-menulis .content .body{
    display: flex;
    margin: 100px 0 0 0;
}

.pilihan-kelas-menulis .content .body .kelas{
    width: 33%;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #008DAD;
    border-radius: 20px;
}

.pilihan-kelas-menulis .content .body .kelas .image-cover{
    padding: 15px;
    border: 2px solid #008DAD;
    margin: -100px 0 0 0;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 20px;
}

.pilihan-kelas-menulis .content .body .kelas .image-cover img{
    width: 100%;
}

.pilihan-kelas-menulis .content .body .kelas .desc{
    margin: 20px 0 0 0;
}

.pilihan-kelas-menulis .content .body .kelas .desc h5{
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.pilihan-kelas-menulis .content .body .kelas .desc p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
}

.pilihan-kelas-menulis .content .body .kelas .desc a{
    font-family: "Open Sans", sans-serif;
    background-color: #FD9425;
    color: #ffffff;
    transition: 0.3s;
    margin: 20px 0 0 0;
}

.pilihan-kelas-menulis .content .body .kelas .desc a:hover{
    background-color: #ffffff;
    color: #FD9425;
    font-weight: 600;
    border: 2px solid #008DAD;
}

@media screen and (max-width: 1200px) {
    .main .target .container .content .card{
        width: 30%;
    }

    .main .target .container .title p{
        width: 35%;
    }

    .main .choose-program .container .content .card{
        width: 35%;
    }

}
@media screen and (max-width: 991px) {
    .main .why .container .content{
        gap: 30px 60px;
    }

    .main .why .container .content .card{
        width: calc(50% - 30px);
        gap: 20px;
    }

    .main .why .container .content .card img{
        width: 70px;
        height: 70px;
        padding: 10px;
        border-radius: 15px;
    }

    .main .why .container .content .card p{
        width: calc(80% - 20px);
        font-size: 14px;
    }

    .main .target .container .title p{
        width: 45%;
    }

    .main .target .container .content{
        gap: 40px;
    }

    .main .offer-program .bg-left{
        width: 40%;
    }

    .main .offer-program .bg-right{
        display: none;
    }
    .main .offer-program .content{
        width: 60%;
    }

    .main .benefit-program .content{
        padding: 30px 50px;
    }

    .pilihan-kelas-menulis .content .body .kelas{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {

    .main .why{
        height: auto;
        padding: 100px 0;
    }

    .main .why .container .content{
        gap: 30px 60px;
    }

    .main .why .container .content .card{
        flex-direction: column;
        gap: 10px;
    }

    .main .why .container .content .card p{
        width: 100%;
        text-align: center;
    }

    .main .why::after{
        right: 70px;
    }

    .main .target .container .content .card{
        width: 40%;
    }

    .main .target .container .title p{
        width: 65%;
    }

    .main .offer-program .bg-left{
        width: 30%;
    }

    .main .offer-program .bg-right{
        display: none;
    }
    .main .offer-program .content{
        width: 70%;
    }

    .main .choose-program .container .content{
        gap: 40px;
    }

    .main .choose-program .container .content .card{
        width: calc(50% - 20px);
    }

    .main .benefit-program{
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .main .benefit-program .bg-left{
        width: 100%;
        height: 300px;
    }

    .main .benefit-program .content{
        gap: 60px;
        width: 100%;
        padding: 50px;
        margin: 0 0 100px 0;
    }

    .main .benefit-program::after{
        width: 120px;
        height: 70px;
        right: 20px;
        bottom: -40px;
    }

    .main .benefit-program::after{
        bottom: 40px;
    }

    footer .row{
        gap: 40px;
    }

    footer .row p{
        width: 100%;
    }
    
}
@media screen and (max-width: 576px) {
    .main .opening .container .card .text-first p{
        font-size: 12px;
    }

    .main .opening .container .card .text-second h1{
        font-size: 22px;
    }
    
    .main .opening .container .card .text-second p{
        font-size: 14px;
    }

    .main .why::after{
        right: 50px;
    }

    .main .why .container .title h2 span::after{
        width: 90%;
        height: 5px;
        bottom: -5px;
    }

    .main .why .container .title h2{
        font-size: 24px;
        line-height: 40px;
    }

    .main .why .container .content{
        gap: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0 0 0;
    }

    .main .why .element-wave img{
        position: absolute;
        width: 200px;
        height: 200px;
        right: 0;
        top: -80px;
        z-index: -1;
    }

    .main .why .container .content .card{
        flex-direction: row;
        width: 80%;
        gap: 10px;
    }

    .main .why .container .content .card p{
        width: 100%;
        text-align: start;
    }

    .main .why::after{
        right: 30px;
        width: 120px;
        height: 70px;
    }

    .main .target{
        margin: 150px 0 100px 0;
    }

    .main .target .container .content .card{
        width: 60%;
    }

    .main .target .container .title p{
        width: 85%;
    }
    .main .target .container .content{
        gap: 20px;
    }

    .main .target .element-wave img{
        position: absolute;
        right: 0;
        bottom: -130px;
        width: 200px;
        height: 200px;
        z-index: -1;
    }

    .main .offer-program{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .main .offer-program .bg-left{
        width: 100%;
        height: 300px;
    }

    .main .offer-program .bg-right{
        display: none;
        width: 100%;
    }
    .main .offer-program .content{
        width: 100%;
        padding: 50px 0;
    }

    .main .choose-program{
        height: auto;
        padding: 50px 0;
    }

    .main .choose-program .container .title h2{
        padding: 20px 25px;
        font-size: 24px;
    }

    .main .choose-program .container .content{
        gap: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .choose-program .container .content .card{
        width: 70%;
    }

    .main .choose-program .container .content .card .list{
        height: 200px;
    }
    
    .main .choose-program .container .content .card .desc{
        height: 200px;
    }

    .main .benefit-program .content{
        gap: 60px;
        width: 100%;
        padding: 50px 20px;
    }

    .main .benefit-program .content .title h2{
        font-size: 24px;
    }

    footer{
        margin-top: 150px;
    }

    .pilihan-kelas-menulis::after{
        bottom: -180px;
    }

    footer .row p{
        font-size: 18px;
    }

    .pilihan-kelas-menulis .content .body{
        justify-content: center;
    }

    .pilihan-kelas-menulis .content .body .kelas{
        width: 80%;
    }
}
@media screen and (max-width: 380px) {
    .main .opening .container .card .text-first img{
        width: 60px;
        height: 20px;
    }

    .main .opening .container .card .text-first p{
        font-size: 11px;
    }

    .main .opening .container .card .text-second h1{
        font-size: 20px;
    }
    
    .main .opening .container .card .text-second p{
        font-size: 13px;
    }

    .main .why .container .content .card{
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .main .target .container .content .card{
        width: 80%;
    }

    .main .target .container .title p{
        width: 95%;
    }

    .main .offer-program .content .title h2{
        font-size: 23px;
    }

    .main .offer-program .content .price{
        padding: 10px 30px;
    }

    .main .offer-program .content .price p{
        font-size: 13px;
    }

    .main .offer-program .content .desc{
        width: 90%;
    }
    .main .offer-program .content .line-horizontal{
        margin: 40px auto 0 auto;
    }

    .main .choose-program .container .title{
        text-align: center;
    }

    .main .choose-program .container .title h2{
        padding: 20px 25px;
        font-size: 18px;
    }

    .main .choose-program .container .content .card{
        width: 90%;
    }

    .main .benefit-program .content{
        gap: 60px;
        width: 100%;
        padding: 50px 20px;
    }

    .main .benefit-program .content .title h2{
        font-size: 22px;
    }

    .main .benefit-program .content .card-content ul{
        padding: 0 0 0 15px;
    }

    .main .benefit-program .content .card-content ul li{
        font-size: 13px;
    }

    .pilihan-kelas-menulis .content .body .kelas{
        width: 100%;
    }
}